.header {
    width: 1100px;
    margin: 0px auto;
}

.header__photo  {
    margin-top: 77px;
    margin-left: 26px;
	float: left;
}

.header__photo .icon {
    width: 280px;
    height: 297px;
    padding-right: 20px;
}

.header__quote {
    margin-top: 100px;
    width: 750px;
    text-align: left;
    float: right;
}

.header__quote .header__text1 {
    margin-top: 79px;
    margin-left: 58px;
    letter-spacing: 0.37px;
    width: 400px;
    height: 200px;
    font-size: 23px;
    line-height: 36px;
    color: #848484;
    font-style: italic;
    font-family: "Georgia", sans-serif;
}

.header__quote .header__text2 {
    margin-top: -125px;
    margin-left: 60px;
    letter-spacing: 0.475px;
	font-size: 13px;
    line-height: 30px;
    color: #333333;
    font-weight: 900;
    font-family: "Open Sans Semibold", sans-serif;
}

.content {
    width:1100px;
    margin: 0px auto;

}

.content__list {
    float: left;
}

.content__list .content__writers {
    margin-top: 127px;
    margin-left: -299px;
    letter-spacing: 0px;
    font-size: 20px;
    line-height: 32px;
    color: #15a98c;
    font-weight: 600;
    font-family: "Open Sans Semibold", sans-serif;
}

.content__list .content__name {
    margin-top: 7px ;
    margin-left: -321px;
    letter-spacing: -0.8px;
    width: 330px;
    height: 260px;
    font-size: 16px;
    font-weight: bold;
    line-height: 32px;
    color: #555555;
    font-family: "Georgia", sans-serif;
}

.content__list .content__films {
    margin-top: -120px;
    margin-left: -299px;
    letter-spacing: 0.2px;
    font-size: 20px;
    line-height: 32px;
    color: #15a98c;
    font-weight: 600;
    font-family: "Open Sans Semibold", sans-serif;
}

.content__info {
    margin-top: -512px;
    margin-right:190px;
    width: 550px;
    float: right;
}

.content__info .content__title {
	letter-spacing: -0.1px;
	font-size: 41px;
    line-height: 42px;
    color: #333333;
    font-weight: 700;
    font-family: "Open Sans", serif;
}

.content__info .content__horizontal-line {
    margin-top: 23px;
    margin-left: -3px;
	width: 50px;
    height: 4px;
    border-radius: 3px;
    background-color: #45c3aa;
}

.content__info .content__subtitle {
    margin-top: 16px;
    margin-left: -3px;
	letter-spacing: 0.25px;
	font-size: 30px;
    line-height: 42px;
    color: #333333;
    font-weight: 400;
    font-family: "Open Sans", serif;
}

.content__info .content__text1 {
    letter-spacing: -0.9px;
    margin-top: 37px;
    margin-left: -2px;
	width: 460px;
    height: 180px;
    font-size: 16px;
    line-height: 27px;
    color: #555555;
    font-weight: bold;
    font-family: "Georgia", sans-serif;
}

.content__info .content__text2 {
    letter-spacing: -1.3px;
    margin-top: 9px;
    margin-left: -3px;
	width: 562px;
    height: 263px;
    font-size: 19px;
    line-height: 28px;
    color: #585858;
    font-family: "Georgia", serif;
}

.link {
    letter-spacing: 0.7px;
    margin-top: -94px;
    margin-right: 181px;
    width: 562px;
    height: 263px;
    font-size: 16px;
    line-height: 33px;
    color: #15a98b;
    font-family: "Georgia", sans-serif;
    float: right;
}

.link .hover {
    color: #098d72;
}